@charset "utf-8";

//colors
@import "partials/_color.scss";

//responsivenss
@import "partials/_responsiveness.scss";

//reuse code
@import "partials/_reuse.scss";

//Bulma
@import "~bulma/bulma";

//Import fontawesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss"; 


.body
{
	padding: 50px;
	@include mobile {
		padding: 10px;
	}
}

.home
{
	padding: 10px;
}

.sidebar
{
	margin-top: 60px;
	padding: 100px;
}

.container 
{
	background-color: $dark-grey;
}

.fixed
{
  @include position(0px, fixed);
}
